@page "/addTask"
@inject NavigationManager NavigationManager

<div class="border text-center">
    <div class="bg-info display-6 mb-5">Add New Task</div>
    <input type="text block" @bind="taskTitle" placeholder="Enter new Task">
    <br>

    <div @onclick="NavigateToManageTask" class="btn btn-primary m-3">Add Task</div>
</div>
    
@code{
    private string? taskTitle;
    public void NavigateToManageTask(){
        NavigationManager.NavigateTo("/manageTask/add/" + taskTitle);
    }
}
