@inject NavigationManager NavigationManager
@page "/editPage"
@page "/editPage/{TaskId:int}/{TaskTitle}/{IsDone:bool}"

<h1 class="bg-primary text-center">Edit Task</h1>

<div class="p-2 border text-center">
        <input type="text" class="p-1" @bind="@TaskTitle">
        <div class="m-2 mt-5">
            <button class="btn btn-primary" @onclick="OnUpdate">UPDATE</button>
            <button class="btn btn-outline-danger" @onclick="OnDelete">DELETE</button>
        </div>    
</div>

@code{
    [Parameter]
    public string TaskTitle{get; set;}
    [Parameter]
    public int TaskId{get; set;}
    [Parameter]
    public bool IsDone{get; set;}

    public void OnUpdate(){
        NavigationManager.NavigateTo("/manageTask/update/" + TaskId + "/" + TaskTitle);
    }
    public void OnDelete(){

        NavigationManager.NavigateTo("/manageTask/delete/" + TaskId + "/" + TaskTitle);
    }
}
