@inject NavigationManager NavigationManager
@page "/editPage"
@page "/editPage/{TaskId:int}/{TaskTitle}/{IsDone:bool}"

<div class="border">
    <div class="bg-info text-center display-6">Edit Task</div>

    <div class="p-2 text-center decorator-underline">
        <input type="text" class="p-1" @bind="@TaskTitle">
        <div class="m-2 mt-5">
            <button class="btn btn-primary" @onclick="OnUpdate">UPDATE</button>
            <button class="btn btn-outline-danger" @onclick="OnDelete">DELETE</button>
        </div>    
    </div>
</div>

@code{
    [Parameter]
    public string TaskTitle{get; set;}
    [Parameter]
    public int TaskId{get; set;}
    [Parameter]
    public bool IsDone{get; set;}

    public void OnUpdate(){
        NavigationManager.NavigateTo("/manageTask/update/" + TaskId + "/" + TaskTitle);
    }
    public void OnDelete(){

        NavigationManager.NavigateTo("/manageTask/delete/" + TaskId + "/" + TaskTitle);
    }
}
